.cart-container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.43);
  border-radius: 10px;
  background-color: white;
}

@media (max-width: 414px) {
  .listContainer {
    width: 60px;
    margin-top: 10px;
  }
}
