@media (max-width: 490px) {
  .avatar {
    display: none;
  }
  .about-subheader {
    font: 8px;
  }
  .about-container {
    height: 200%;
    margin-top: -80px;
  }
  .about-bottom {
    display: none;
  }
}
img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
