@media (max-width: 490px) {
  .avatar {
    display: none;
  }
  .about-subheader {
    font: 8px;
  }
  .about-container {
    height: 200%;
    margin-top: -80px;
  }
  .about-bottom {
    display: none;
  }
}
