.fancy_card:hover {
  transform: translate3D(0, -1px, 0) scale(1.07);
  box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
    1px 6px 12px rgba(39, 44, 49, 0.04);
  transition: all 0.4s ease;
  background-color: #e2fefe;
  background-image: url("../images/card-bg.png");
  background-position: center;
  background-attachment: fixed;
}

.fancy_card {
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  transition: all 0.5s ease; /* back to normal */
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #526dfe;
  color: #526dfe;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #526dfe;
  transition: all 0.4s ease;
}

.paginationActive a {
  color: white;
  background-color: #526dfe;
}
.bot-grid {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

@media (max-width: 414px) {
  .paginate-container {
    width: 80px;
    margin-left: 90px;
  }
  .paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .paginationBttns a {
    padding: 4px;
    margin: 1px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #526dfe;
    color: #526dfe;
    cursor: pointer;
  }
  .market-header {
    font-size: 14x;
  }
  /* .market-subheader {
    font-size: 12px;
  }
  .card-name-title {
    font-size: 18px;
  }
  .card-category {
    font-size: 12px;
  } */
}
